<nav class="navbar navbar-light bg-light position-relative z-3">
  <div class="container-fluid">
    <a class="navbar-brand"
       routerLink="/"
       routerLinkActive="active">
      <img src="assets/img/sintad.png"
           alt=""
           class="d-inline-block align-text-top">
    </a>
  </div>
</nav>

<div class="container position-relative z-3">
  <router-outlet></router-outlet>
</div>


<div class="sintad-build">

</div>
<!-- <img src="assets/img/sintad-build.jpeg"

     style="position: absolute; top: 0; right: 0;"
     alt=""
     class="d-inline-block align-text-top"> -->